<div class="container">
  <footer>
    <div class="col-md-9">
    </div>
    <div class="col-md-3 navbar-right navbar-bottom">
      <ul class="nav navbar-nav">
        <li>
          <a href="about.html"> About </a>
        </li>
        <li>
          <a href="contact.html"> Contact us </a>
        </li>
        <li>
          <a href="news.html"> News </a>
        </li>
      </ul>
    </div>
  </footer>
</div> <!-- /container -->
